<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" >
	<h:head>
		<title>Cliente</title>
	</h:head>
	<h:body>
		<h:form>
		<h:dataTable var="cl" value="#{}">
		</h:dataTable>
		</h:form>
	</h:body>
</html>